/*comentario*/
//SINTAXIS: $VARIABLE: VALOR;
@font-face {
    font-family: "Karla-Bold"; 
    src: url(./assets/Fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: "Karla-Medium";
    src: url(./assets/Fonts/Karla-Medium.ttf);
}

$Fuente1: "Karla-Bold";
$Fuente2: "Karla-Medium";

//IMPORT
@import "margenes";

html{
    min-height: 100%;
    position: relative;
}
*{
    margin: 0 auto;
    padding: 0;
}
.body {
    background-image: url("../assets/fondo.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    font-family: $Fuente2;
}
header {
    #logo {
        position: relative;
        left: 0px;
        right: 100px;
        top: 40px;
        grid-area: cabeza;
    }
    h1 {
        color:rgb(0, 0, 0);
        font-family: $Fuente1, sans-serif;
        align-items: center;
        background-image: url("../assets/fruits.jpg");
        background-repeat: no-repeat;
        background-position:left;
        background-size: cover;
        object-fit: scale-down;
        position: relative;
        top: -50px;
        left: 80px;
        font-size: 50px;
        width: 320px;
        border-style:solid;
    }
    .redSocial {
        display: inline-block;
        position: relative;
        top:-100px;
        left: 1200px;
    }
    .menu {
        position: relative;
        bottom: 45px;
        left: -20px;
        text-align:center;
        list-style-type: none;
        a {
            color: orange;
            text-decoration: none;    
        }
    }
}
.padre-flex {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;  
}
.menuLink{
    display: inline-block;
    padding: 10px 20px;
    font-family: $Fuente2;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    transition: all 3s;
    &:hover{
        font-size: 30px;
        background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    }
}
.form {
    font-family: $Fuente2;
    font-weight: bold;
    width: 300px;
    grid-area:div;
    .form-control{
        border-style: inset;
    }    
}
