@font-face {
    font-family: "Karla-Bold"; 
    src: url(./assets/Fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: "Karla-Medium";
    src: url(./assets/Fonts/Karla-Medium.ttf);
}
html {
    min-height: 100%;
    position: relative;
}
.body {
    background-image: url("./assets/fondo.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    font-family: "Karla-Medium";
}
h1 {
    color:rgb(0, 0, 0);
    font-family: "Karla-Bold", sans-serif;
    align-items: center;
    background-image: url("./assets/fruits.jpg");
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    object-fit: scale-down;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 10px; 
    position: relative;
    top: -50px;
    left: 80px;
    font-size: 50px;
    width: 320px;
    border-style:solid;
}

nav {
    font-weight: bold;
}
.navbar-text {
    margin-left: 30px;
}

#navbar{
    background-color: #e3f2fd;
}

.Title {
    color:#000000;
    font-family: "Karla-Bold";
    font-style:italic;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px; 
    font-size: 20px;
    position: relative;
    bottom:300px;
    left: 850px;
    background-color:powderblue;
    width: 270px;
    text-decoration: underline;

}
.infoDescripcion , .infoDescripcionInbody {
    font-family: Karla-Medium;
    font-style:italic;
    color: rgb(10, 17, 13);
    position: relative;
    border-style:inset;
    border-color: rgb(64, 70, 62);
    background-color: powderblue;
    text-align: center;
    background-image: linear-gradient(white, powderblue);
    animation-name: prueba;
    animation-iteration-count: 6;
    animation-duration: 20s;
}

    @keyframes prueba {
        from{
            transform:translate(-10px);
            opacity: 0;
        }
        to{
            transform:translate(0px);
            opacity: 3;
        }
    }    

.classdos {
    font-family: Karla-Medium;
    font-style: italic;
    color: rgb(10, 17, 13);
    position: relative;
    border-style:inset;
    border-color: rgb(64, 70, 62);
    background-color: powderblue;
    bottom:200px;
    left: 700px;
    border-style:inset;
    border-color: rgb(64, 70, 62);
    background-color: powderblue;
    width: 300px;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    text-align: center;
    
}
.infoDescripcionDos {
    font-family: Karla-Medium;
    font-style:italic;
    color: rgb(10, 17, 13);
    position: relative;
    border-style:inset;
    border-color: rgb(64, 70, 62);
    background-color: powderblue;
    width: 300px;
    height: auto;
}
.negrita {
    font-weight: bold ;
}
footer {
    color:rgb(156, 148, 156);
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    font-family:"Karla-Medium";
    grid-area: pie;
}

.imagen-nutri, .imagen-inbody{
    width:"560"; height:"315";
    position: relative;
    left: 280px;
    max-width: 100%;
}

a {
    color: orange;
    text-decoration: none;
}
.recetasTitulo {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 10px; 
    font-family: "Karla-Medium";
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    animation-name: titulodereceta;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
@keyframes titulodereceta {
     0% { font-size: 10px; }
     50% { font-size: 30px;}
     50% {font-size: 20px; }
     100% { font-size:40px; }
}

.tituloInbody {
    font-family: Karla-Medium;
    font-style: italic;
    color: rgb(187, 197, 192);
    position: relative;
    border-style:inset;
    border-color: rgb(64, 70, 62);
    bottom:250px;
    left: 600px;
    border-style:inset;
    border-color: rgb(144, 156, 141);
    background-color: rgb(18, 160, 179);
    width: 300px;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    text-align: center;
    background-image:linear-gradient(70deg, black,red);
}
input, textarea {
    padding: 5px; 
    border-radius: 5px;
}

label {
    display: block; 
    padding: 5px; 
} 


/* Comenzamos con Flex */
.padre-flex {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
.RecetasConFlex {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}
header {
    grid-area: cabeza;   
}
div {
    grid-area:div;
}

.consulta {
    border-style:inset;
}

/*media queries*/ 
@media (max-width:480px) {
    .Title {
        background-color: black;
        color:rgb(10, 110, 27);
        font-family: "Karla-Bold";
        src: url(./assets/Fonts/Karla-Medium.ttf);
        top: 5px;
        font-size: 30px;
        margin-top: 10px;
        width: 220px;
        left: 10px;
    }
    .infoDescripcionDos {
        background-color: black;
        color:aliceblue;
        font-family:"Karla-Bold";
        font-size: 17px;
        src: url(./assets/Fonts/Karla-Medium.ttf);
        top:30px;
        width: 200px;
        left: 10px;
        height: auto;
    } 

    .classdos {
        background-color: #d7f3e2;
        color:rgb(40, 119, 40);
        font-family:"Karla-Bold";
        src: url(./assets/Fonts/Karla-Medium.ttf);
        top: 20px;
        font-size: 20px;
        max-width: 80%;
        left:-10px;
    }
    .infoDescripcion {
        color:purple;
        font-family:"Karla-Bold";
        src: url(./assets/Fonts/Karla-Medium.ttf);
        top: 20px;
        font-size: 15px;
        max-width: 80%;
    }
    .video {
        width: 250px;
        height: 250px;
        position:relative;
        margin-top: 10px;
    }
    .imagen-nutri, .imagen-inbody {
        width: 60%;
        height: 200px;
        left: 1px;
        top: 30px;
        max-width: 100%;
        margin-bottom: 10px;
    }
    
    .infoDescripcionInbody {
        color:purple;
        font-family:"Karla-Bold";
        src: url(./assets/Fonts/Karla-Medium.ttf);
        top: 370px;
        font-size: 15px;
        max-width: 80%;
        position: absolute;

    }
    .tituloInbody {
        font-family: Karla-Medium;
        font-style: italic;
        color: rgb(187, 197, 192);
        position: relative;
        border-style:inset;
        border-color: rgb(64, 70, 62);
        bottom:250px;
        border-style:inset;
        border-color: rgb(144, 156, 141);
        background-color: rgb(18, 160, 179);
        width: 150px;
        height: 50%;
        margin-top: 300px;
        margin-bottom: 10px;
        left: 50px;
        margin-right: 10px; 
        text-align: center;
        background-image:linear-gradient(70deg, black,red);
        font-size: 25px;
    }
    
}
@media (min-width:481px) and (max-width:1024px) {
    .Title {
        background-color: #000000;
        color:azure;
        top: 5px;
        font-size: 30px;
        margin-top: 10px;
        width: 220px;
        left: 10px;
    }
    .infoDescripcionDos {
        background-color: #10220c;
        color:azure;
        font-family:"Karla-Bold";
        font-size: 17px;
        src: url(./assets/Fonts/Karla-Medium.ttf);
        top:30px;
        width: 200px;
        left: 10px;
        height: auto;
    }
    .classdos {
        background-color: #bb6767;
        color:rgb(17, 34, 15);
        font-family:"Karla-Bold";
        src: url(./assets/Fonts/Karla-Medium.ttf);
        top: 15px;
        left: -5px;
        font-size: 30px;
        margin-top: 15px;
        width: 100%;
    }
    .infoDescripcion {
        color:rgb(90, 87, 90);
        top: 10px;
        left: 5px;
        width: 100%;
        font-size:20px;
    }
    .infoDescripcionInbody{
        color:rgb(90, 87, 90);
        bottom: 250px;
        width: 100%;
        font-size:20px;
    }
    .tituloInbody {
        color: rgb(187, 197, 192);
        position: relative;
        bottom:250px;
        border-style:inset;
        border-color: rgb(144, 156, 141);
        background-color: rgb(18, 160, 179);
        width: 70%;
        height: 10%;
        margin-top: 300px;
        margin-bottom: 10px;
        left: 50px;
        margin-right: 10px; 
        font-size: 35px;
    }
    .video {
        width: 300px;
        height: 300px;
        position: relative;
        top:20px;
    }
    .imagen-nutri, .imagen-inbody {
        top: 20px;
        left: 5px;
        width: 100%;
        height: 400px;
        max-width: 100%;
    }

}
@media (min-width:1025px) {
    .Title {
        color:#000000;
        font-family: "Karla-Bold";
        font-size: 30px;
        left: 450px;
        width: 400px;
        top: -350px;
        src: url(./assets/Fonts/Karla-Medium.ttf);
        background-color:powderblue;
    }
    .infoDescripcionDos{
        color: rgb(10, 17, 13);
        background-color: powderblue;
        width: 400px;
        left: 450px;
        font-size: 20px;
        top: -350px;
        font-family: "Karla-Medium";
        src: url(./assets/Fonts/Karla-Medium.ttf);
        height: auto;
    } 
    .video {
        width: 400px;
        height:400px;
        top: 20px;
        position:relative;
    }
    .imagen-nutri, .imagen-inbody {
        width: 30%;
        height: 30%;
        top: 10px;
        left: 20px;
        max-width: 100%;
    }
    .imagen-nutri {
        width: 40%;
    }
    .classdos {
        font-size: 25px;
        width: 50%;
        font-family: "Karla-Medium";
        font-style: italic;
        color: rgb(10, 17, 13);
        position: relative;
        border-style:inset;
        border-color: rgb(64, 70, 62);
        background-color: powderblue;
        left: 500px;
        margin-left: 30px;
    }
    .infoDescripcion {
        top: -200px;
        left: 550px;
        width: 500px;
        font-size: 15px;
        color: rgb(10, 17, 13);
        position: relative;
        border-style:inset;
        border-color: rgb(64, 70, 62);
        background-color: powderblue;
        text-align: center;
    }
    .infoDescripcionInbody{
        bottom: 200px;
        width: 500px;
        left: 480px;
        font-size: 15px;
        color: rgb(10, 17, 13);
        position: relative;
        border-style:inset;
        border-color: rgb(64, 70, 62);
        background-color: powderblue;
        text-align: center;
    }
}

